.App {
  text-align: center;
  background-color: palevioletred;
  align-items: center;
  height: 100vh;
  padding: 50px;
  margin: auto;
}
.box  {
    width: 700px;
    border: 0px solid green;
    height: 206px;
    margin: auto;
    background-color: white;
    padding: 30px;
}
textarea {
  border: 0px solid black;
  font-size: 15px 
}
textarea:focus {
  outline: 0;
}
input[type=text] {
  border: 1px solid grey;
  border-radius: 35px;
  height: 45px;
  font-size: larger;
  padding-left: 20px;
  margin-bottom: 30px;
  color: grey;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin: 5px
}
.active {
  opacity: 0.5;
}
.button {
  background-color: greenyellow;
  width: 130px;
  height: 35px;
  border-radius: 30px;
}
.noteBox {
  width: 100px;
  border: 1px solid green;
  height: auto;
  margin: auto;
  padding: 30px;
}
.container {
  display: flex;
  margin: auto;
  max-width: 800px; 
  flex-wrap: wrap;
}
h2{
  margin: 30px auto;
  color: blanchedalmond
}
.buttom {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}